* {
   box-sizing: border-box;
   text-decoration: none;
}

html,
body {
   height: 100%;
   width: 100%;
   margin: 0;
   background-color: rgb(208, 208, 208);
}

.nav-center {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 10px;
   padding: 20px;
   background-color: rgb(187, 187, 187);
}

.title {
   font-size: 30px;
   font-weight: 700;
   font-family: sans-serif;
   color: rgb(166, 141, 0);
}

.nav-links {
   display: flex;
   justify-content: space-between;
   width: 140px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.link {
   font-size: 18px;
   font-family: sans-serif;
   color: rgb(166, 141, 0);
}

main {
   display: flex;
   flex-direction: column;
}

.section-search {
   display: flex;
   justify-content: center;
}

.form-control {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.search-label {
   margin-bottom: 5px;
   font-size: 18px;
   font-weight: 600;
   font-family: sans-serif;
   color: rgb(133, 113, 0);
}

.section-title {
   font-size: 30px;
   font-weight: 700;
   font-family: sans-serif;
   color: rgb(166, 141, 0);
}